# 编译产物
build/
build_opus.sh.tmp
*.ipa
Payload/

# libopus 源码与产物 (构建时自动下载编译)
opus/

# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
